body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1, h2 {
    color: #fff;
}

.main-container {
    margin: 0 auto;
    padding: 0;
    max-width: 1400px;
    border: 1px solid #1C1C1C;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #fff;
}

.roll-over-header {
    background: #1C1C1C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.roll-over-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.roll-over-nav ul li {
    list-style-type: none;
}

.roll-over-nav ul li a {
    text-decoration: none;
}

.roll-over-nav ul li a:hover {
    color: pink;
}

.drop-down-header {
    background: #1C1C1C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-dropdown .sup-nav-item {
    list-style-type: none;
}

.sub-nav {
    display: none;
}

.sup-nav-item:hover .sub-nav {
    display: block;
}

.main-header {
    background: #1c1c1c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.main-nav {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding-right: 0.5rem;
}


.main-nav .main-list {
    display: none;
}

.main-list.show-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-list li {
    list-style: none;
}

.main-list li a {
    text-decoration: none;
    color: #fff;
}

#hamburger {
    display: block;
    /* position: absolute; */
    right: 1%;
    cursor: pointer;
}

#hamburger .bar {
    display: block;
    margin: 3px 0;
    width: 20px;
    height: 8px;
    background: #fff;
}
